body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: /*#dbd5d5*/ #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the header appears above other content */
  background-color: #1f2d4d;
}

.headerTitle {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  position: relative; /* Ensure positioning context for pseudo-elements */
  padding-top: 1vh; /* Adjust top padding to create space for the line */
  padding-bottom: 1vh; /* Adjust bottom padding to create space for the line */
  /*  font-family: 'Lato', sans-serif; 
  font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
   */
}

.headerTitle::before,
.headerTitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff; /* Line color */
}

.headerTitle::before {
  top: 0; /* Position line above text */
}

.headerTitle::after {
  bottom: 0; /* Position line below text */
}

.test {
  display: block;
  position: absolute; /* Poziționează imaginea absolut în interiorul containerului */
  top: 150; /* Plasează imaginea la partea de sus a containerului */
  left: 50%; /* Mută imaginea pe orizontală la jumătatea containerului */
  transform: translateX(-50%); /* Centrează imaginea pe orizontală */
}
.option-list {
  display: flex;
  flex-direction: column;
  gap: 2vh; /* Adjust the gap between Option components */
  border: 0.25vh solid #ccc; /* Add border with a color of your choice */
  padding: 2vh; /* Add padding to create space between border and content */
}

.subOption {
  position: relative; /* Position the option container relative */
  border: 0.25vh solid /*#144072*/ #11304a; /* Coral border color */
  padding: 0vh; /* Add padding to create space between border and content */
  height: 2.7vh;
  margin-left: 0; /* Align the subOptions to the absolute left margin */
  border-radius: 16px;
  background-color:/* #1e3350 */ #1f3451;
  width: 99%;
}

.sub-options-container {
  display: flex;
  position: relative; /* Position the container relative to its parent option */
  width: 60%; /* Make the container full width */
  margin-left: auto;
  border-radius: 4px; /* Make the borders slightly rounded */
  border: 0.25vh solid /*#16253c*/ #131761; /* Coral border color */
  margin-top: 0; /* Adjust the margin-top to create space between options */
  background-color: /*#1a2b45*/ #203554;
  flex-direction: column;
  gap: 0vh; /* Adjust the gap between Option components */
  padding-left: 0vh; /* Adjust padding to align with left border */
}

.option {
  display: flex;
  align-items: center;
  border: 0.25vh solid #0c1c34;
  padding: 0 20px; /* Adjust padding as needed */
  height: 6vh;
  border-radius: 16px;
  background-color: #1b2b43;
  position: relative; /* Position the container relative */
}

.option img {
  border: 0.25vh solid red;
  box-sizing: border-box;
  width: 12.5vh; /* Fixed width for the image */
  height: auto;
  position: absolute; /* Position the image absolute */
  left: 0; /* Align the left border of the image with the left border of the container */
}

.textContainer {
  position: absolute; /* Position the text container absolute */
  left: 10.5vh; /* Adjust to align with the image */
  top: 0; /* Align with the top of the container */
}

.optionTitle,
.optionDescription {
  margin: 0;
  color: white;
  font-size: 1.4vh;
  position: relative; /* Position both the title and description relative */
}

.optionTitle {
  top: 0.3vh; /* Adjust the top position to lift up the title */
}

.optionDescription {
  top: 0.3vh; /* Adjust the top position to lift up the description */
  font-size: 1vh;
  line-height: 1.2;
}

.subOptionTitle {
  margin: 0;
  color: white;
  font-size: 1.035vh;
  position: relative; /* Position both the title and description relative */
  top: 0.3vh; /* Adjust the top position to lift up the title */
  left: 2vh;
}

.backButton {
  position: fixed;
  bottom: 6vh; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure the button appears above other content */

  align-items: center;
  background-image: linear-gradient(144deg, #131761, #1f2d4d 50%, #131761);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  height: 30px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.backButton:active,
.backButton:hover {
  outline: 0;
}

.backButton span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.backButton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .backButton {
    font-size: 24px;
    min-width: 196px;
  }
}

.contentContainer {
  width: 80%; /* Adjust the width of the container */
  max-width: 80%; /* Maximum width of the container */
  margin: 50px auto; /* Auto margin on the left and right will center the container horizontally, and adjust the space between the container and the top and bottom edges of the screen */
  margin-top: 20px;
  margin-bottom: 50px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding: 10px; /* Add space inside the container between the content and the border */
  text-align: center; /* Center-align the text inside the container */
  word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
  max-height: 70vh;
}

.selectCountry {
  font-weight: bold; /* Increase font weight */
  font-size: 1.6vh; /* Increase font size */
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.hidden-element {
  display: none;
}
