body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1f2d4d;
}

.headerTitle {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.headerTitle::before,
.headerTitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
}

.headerTitle::before {
  top: 0;
}

.headerTitle::after {
  bottom: 0;
}

.test {
  display: block;
  position: absolute;
  top: 150;
  left: 50%;
  transform: translateX(-50%);
}
.option-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 0.25vh solid #ccc;
  padding: 2vh;
}

.subOption {
  position: relative;
  border: 0.25vh solid #11304a;
  padding: 0vh;
  height: 3vh;
  margin-left: 0;
  border-radius: 16px;
  background-color:/* #1e3350 */ #1f3451;
  width: 99%;
}

.sub-options-container {
  display: flex;
  position: relative;
  width: 68%;

  margin-left: auto;
  border-radius: 4px;
  border: 0.25vh solid #131761;
  margin-top: 0;
  background-color: #203554;
  flex-direction: column;
  gap: 0vh;
  padding-left: 0vh;
}

.option {
  display: flex;
  align-items: center;
  border: 0.25vh solid #0c1c34;
  padding: 0 20px;
  height: 8vh;
  border-radius: 16px;
  background-color: #1b2b43;
  position: relative;
}

.option img {
  border: 0.25vh solid red;
  box-sizing: border-box;
  width: 12.5vh;
  height: auto;
  position: absolute;
  left: 0;
}

.textContainer {
  position: absolute;
  left: 13.2vh;
  top: 0;
}

.optionTitle,
.optionDescription {
  margin: 0;
  color: white;

  position: relative;
}

.optionTitle {
  top: 0.27vh;
  font-size: 1.4vh;
}

.optionDescription {
  top: 0.27vh;
  font-size: 1.2vh;
  line-height: 1.2;
}

.subOptionTitle {
  margin: 0;
  color: white;
  font-size: 1.2vh;
  position: relative;
  top: 0.3vh;
  left: 1.6vh;
}

.backButton {
  position: fixed;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  align-items: center;
  background-image: linear-gradient(144deg, #131761, #1f2d4d 50%, #131761);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  height: 30px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.backButton:active,
.backButton:hover {
  outline: 0;
}

.backButton span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.backButton:hover span {
  background: none;
}

@media (min-width: 768px) {
  .backButton {
    font-size: 24px;
    min-width: 196px;
  }
}

.contentContainer {
  width: 80%;
  max-width: 80%;
  margin: 50px auto;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  max-height: 70vh;
}

.selectCountry {
  font-weight: bold;
  font-size: 1.6vh;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

@media screen and (min-width: 1280px) {
  .option-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border: 0.25vh solid #ccc;
    padding: 2vh;
    padding-left: 40vh;
    padding-right: 40vh;
  }

  .subOption {
    position: relative;
    border: 0.25vh solid #11304a;
    padding: 0vh;
    height: 3vh;
    margin-left: 0;
    border-radius: 16px;
    background-color:/* #1e3350 */ #1f3451;
    width: 99%;
  }

  .sub-options-container {
    display: flex;
    position: relative;
    width: 68%;

    margin-left: auto;
    border-radius: 4px;
    border: 0.25vh solid #131761;
    margin-top: 0;
    background-color: #203554;
    flex-direction: column;
    gap: 0vh;
    padding-left: 0vh;
  }

  .option {
    display: flex;
    align-items: center;
    border: 0.25vh solid #0c1c34;
    padding: 0 20px;
    height: 8vh;
    border-radius: 16px;
    background-color: #1b2b43;
    position: relative;
  }

  .option img {
    border: 0.25vh solid red;
    box-sizing: border-box;
    width: 12.5vh;
    height: auto;
    position: absolute;
    left: 0;
  }

  .textContainer {
    position: absolute;
    left: 13.2vh;
    top: 0;
  }

  .optionTitle,
  .optionDescription {
    margin: 0;
    color: white;

    position: relative;
  }

  .optionTitle {
    top: 0.27vh;
    font-size: 1.8vh;
  }

  .optionDescription {
    top: 0.27vh;
    font-size: 1.6vh;
    line-height: 1.2;
  }

  .subOptionTitle {
    margin: 0;
    color: white;
    font-size: 1.6vh;
    position: relative;
    top: 0.3vh;
    left: 1.6vh;
  }
}

.hidden-element {
  display: none;
}
